Repository eclipse-ditto/ditto-clients, pull requests merged in 2020-10, with the labels that each got.

#92 Notify error handler on initial connection error if initial reconnection is deactivated.
  java/README.md
  java/src/main/java/org/eclipse/ditto/client/messaging/internal/WebSocketMessagingProvider.java
  java/src/test/java/org/eclipse/ditto/client/internal/ClientShutdownTest.java
  java/src/test/java/org/eclipse/ditto/client/messaging/internal/WebSocketMessagingProviderTest.java
Labels: java

#95 Check proxyAgent.options.path
  javascript/lib/node/src/node-http.ts
  javascript/lib/node/src/node-websocket.ts
  legal/NOTICE.md
Labels: javascript

#97 Fix reordering of messages
  java/src/main/java/org/eclipse/ditto/client/messaging/internal/WebSocketMessagingProvider.java
Labels: bug, hacktoberfest-accepted, java
